<stage onstagelist="on" name="CF Stage" created="2013-05-01 16:36:47.096534" lockstage="true" active="active" id="cf">
<splash>Welcome to UpStage. This one works.</splash>
<showdebugscreen>DEBUG</showdebugscreen>
<lockstage>true</lockstage>
<avatar media="library:F5nH6cZi:VideoOverlay" voice="" name="ing" showname="show">
</avatar>
<access_one>admin</access_one>
<access_two>
</access_two>
<access_three>
</access_three>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
<onstagelist>on</onstagelist>
<lockstage>true</lockstage>
<towner>admin</towner>
</stage>